footer,
header,
div,
html,
body {
  box-sizing: border-box;
}

.main {
  margin: 0 auto;
  width: 1190px;
  background: #ccc;
}

.header {
  height: 30px;
  background: #f5f5f5;
}

.container {
  display: flex;
}

.header .container,
.footer .container {
  width: 1190px;
  margin: 0 auto;
}

.footer {
  background: #f5f5f5;
}